@{
    ViewData["Title"] = "Confimation Page";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>You Submitted! Thanks for adding tho this great site</p>
    <div>
        <a asp-action="AllEntries">View All Suggestions</a><br />
        <a asp-action="Submit">Add Another Entry</a><br />
        <a asp-action="Index">Back Home</a>
    </div>
</div>